Repository deepweather/Litadel: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, test-frontend-build

.pre-commit-config.yaml:

# Pre-commit hooks for TradingAgents
# Runs automatically before each commit to ensure code quality
# Install: uv pip install pre-commit && pre-commit install

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the Ruff formatter (auto-fixes formatting)
      - id: ruff-format
        name: Ruff Format (Python auto-format)

      # Run Ruff linter with auto-fix (only fails on critical errors)
      - id: ruff
        name: Ruff Check (Python linting)
        args:
          - --fix                      # Auto-fix what can be fixed
          - --exit-zero                # Never fail - just auto-fix
          - --config=pyproject.toml
        # Auto-fixes everything, never blocks commits

  # Frontend linting with ESLint
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint (Frontend auto-fix)
        entry: bash -c 'cd frontend && npm run lint -- --fix --max-warnings=-1 || true'
        language: system
        files: '^frontend/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false
        # Always succeeds (|| true) because we only care about auto-fixes
        # Real errors will be caught by TypeScript compiler

  # Smoke tests to ensure app actually works
  - repo: local
    hooks:
      - id: test-python-imports
        name: Test Python imports (litadel, api, cli)
        entry: uv run python tests/test_smoke.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: test-frontend-build
        name: Test frontend build
        entry: uv run python tests/test_frontend_build.py
        language: system
        files: '^frontend/.*\.(ts|tsx|js|jsx|json|html|css)$'
        pass_filenames: false
        # Only runs when frontend files are changed

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        args: [--markdown-linebreak-ext=md]

      - id: end-of-file-fixer
        name: Ensure files end with newline
        exclude: '^frontend/.*$'  # Frontend has its own rules

      - id: check-yaml
        name: Check YAML syntax

      - id: check-json
        name: Check JSON syntax
        exclude: '^(frontend/package-lock.json|frontend/tsconfig.*\.json)$'  # Exclude lock and tsconfig files (JSONC)

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: mixed-line-ending
        name: Fix mixed line endings
        args: [--fix=lf]

# Configuration
default_language_version:
  python: python3.10

fail_fast: false  # Run all hooks even if one fails

# Only run on commit, not on push
default_stages: [pre-commit]

fix: Disable PTH (pathlib) rules in ruff config
  pyproject.toml
Due: none

fix more errors
  litadel/dataflows/alpha_vantage_intelligence.py
  litadel/dataflows/alpha_vantage_news.py
  litadel/dataflows/alpha_vantage_stock.py
Due: none

fix many linter errors
  frontend/src/components/analysis/CreateAnalysisForm.tsx
  litadel/dataflows/cache_manager.py
  litadel/dataflows/config.py
  litadel/dataflows/data_cache/economic/treasury_yield_10year.json
  litadel/dataflows/data_cache/economic/treasury_yield_2year.json
  litadel/dataflows/google.py
  litadel/dataflows/googlenews_utils.py
  litadel/dataflows/local.py
  litadel/dataflows/reddit_utils.py
  litadel/dataflows/stockstats_utils.py
  pyproject.toml
  uv.lock
Due: eslint-frontend, test-frontend-build

linter fixes
  api/endpoints/analyses.py
  api/endpoints/data.py
  api/example_client.py
  api/main.py
  api/state_manager.py
  api/websockets/status.py
  cli/main.py
  cli/prompts.py
  litadel/agents/analysts/macro_analyst.py
  litadel/agents/config/analyst_config.py
  litadel/dataflows/alpha_vantage_commodity.py
  litadel/dataflows/alpha_vantage_common.py
  litadel/dataflows/alpha_vantage_crypto.py
  litadel/dataflows/data_cache/intelligence/earnings_estimates_SAP.json
  litadel/dataflows/utils.py
  litadel/dataflows/y_finance.py
  litadel/dataflows/yfin_utils.py
  litadel/graph/reflection.py
  tests/test_smoke.py
Due: none

added user functionality
  api/auth.py
  api/auth/__init__.py
  api/auth/api_key_auth.py
  api/auth/dependencies.py
  api/auth/jwt_handler.py
  api/auth/models.py
  api/auth/password.py
  api/cli_admin.py
  api/database.py
  api/endpoints/analyses.py
  api/endpoints/auth.py
  api/endpoints/data.py
  api/endpoints/tickers.py
  api/main.py
  api/models/responses.py
  api/state_manager.py
  api/websockets/status.py
  frontend/src/App.tsx
  frontend/src/components/analysis/AnalysisCard.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/UserMenu.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/services/api.ts
  frontend/src/services/websocket.ts
  frontend/src/stores/authStore.ts
  frontend/src/types/api.ts
  pyproject.toml
  uv.lock
Due: eslint-frontend, test-frontend-build

enhance portfolio
  api/database.py
  api/endpoints/portfolios.py
  api/main.py
  api/models/__init__.py
  api/models/portfolio.py
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/portfolio/BulkImport.tsx
  frontend/src/components/portfolio/PortfolioCard.tsx
  frontend/src/components/portfolio/PositionForm.tsx
  frontend/src/components/portfolio/PositionTable.tsx
  frontend/src/pages/CreatePortfolio.tsx
  frontend/src/pages/PortfolioDetail.tsx
  frontend/src/pages/PortfolioList.tsx
  frontend/src/services/api.ts
  frontend/src/types/portfolio.ts
Due: eslint-frontend, test-frontend-build

enhance portfolio
  api/endpoints/tickers.py
  frontend/src/App.tsx
  frontend/src/components/analysis/AnalysisCard.tsx
  frontend/src/components/analysis/CreateAnalysisForm.tsx
  frontend/src/components/portfolio/PositionTable.tsx
  frontend/src/pages/AssetDetail.tsx
  frontend/src/pages/CreateAnalysis.tsx
  frontend/src/services/api.ts
Due: eslint-frontend, test-frontend-build

make robust for backtests
  LOOK_AHEAD_BIAS_FIXES.md
  api/endpoints/analyses.py
  api/models/responses.py
  frontend/src/components/analysis/LogViewer.tsx
  frontend/src/types/api.ts
  litadel/agents/analysts/fundamentals_analyst.py
  litadel/agents/analysts/macro_analyst.py
  litadel/agents/analysts/market_analyst.py
  litadel/agents/analysts/news_analyst.py
  litadel/agents/analysts/social_media_analyst.py
  litadel/agents/utils/economic_indicator_tools.py
  litadel/agents/utils/unified_market_tools.py
  litadel/dataflows/alpha_vantage_economic.py
  litadel/dataflows/data_cache/economic/cpi_raw.json
  litadel/dataflows/data_cache/economic/federal_funds_rate_raw.json
  litadel/dataflows/data_cache/economic/real_gdp_raw.json
  litadel/dataflows/data_cache/economic/retail_sales_raw.json
  litadel/dataflows/data_cache/economic/treasury_yield_10year_raw.json
  litadel/dataflows/data_cache/economic/treasury_yield_2year_raw.json
  litadel/dataflows/data_cache/economic/unemployment_raw.json
  litadel/dataflows/date_validator.py
  litadel/dataflows/stockstats_utils.py
  litadel/dataflows/y_finance.py
  verify_look_ahead_fix.py
Due: eslint-frontend, test-frontend-build

make robust for backtests
  LOOK_AHEAD_BIAS_FIXES.md
  verify_look_ahead_fix.py
Due: none

make robust for backtests
  litadel/agents/analysts/market_analyst.py
  litadel/agents/utils/unified_market_tools.py
  litadel/dataflows/crypto_indicators.py
  litadel/dataflows/interface.py
  litadel/default_config.py
Due: none

make robust for backtests
  api/endpoints/data.py
  api/endpoints/portfolios.py
Due: none

make robust for backtests
  api/backtest_metrics.py
  api/database.py
  api/endpoints/backtests.py
  api/main.py
  api/models/__init__.py
  api/models/backtest.py
  frontend/src/App.tsx
  frontend/src/components/backtest/StrategyVisualizer.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/api.ts
  frontend/src/types/backtest.ts
  litadel/agents/utils/strategy_dsl_agent.py
Due: eslint-frontend, test-frontend-build

make robust for backtests
  api/backtest_executor.py
  api/endpoints/backtests.py
  api/main.py
  api/models/backtest.py
  api/websockets/status.py
  cli/asset_detection.py
  frontend/src/components/backtest/StrategyVisualizer.tsx
  frontend/src/hooks/useBacktestWebSocket.ts
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/services/api.ts
  test_backtest.py
Due: eslint-frontend, test-frontend-build

make robust for backtests
  api/backtest_executor.py
  api/endpoints/data.py
  cli/main.py
Due: none

make robust for backtests
  api/endpoints/backtests.py
  frontend/src/App.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/services/api.ts
  litadel/agents/utils/strategy_dsl_agent.py
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/src/components/analysis/AnalysisCard.tsx
  frontend/src/components/portfolio/BulkImport.tsx
  frontend/src/components/portfolio/PortfolioCard.tsx
  frontend/src/components/portfolio/PositionForm.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/pages/AnalysisDetail.tsx
  frontend/src/pages/AnalysisList.tsx
  frontend/src/pages/AssetDetail.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PortfolioDetail.tsx
  frontend/src/pages/PortfolioList.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/utils/colors.ts
  frontend/src/utils/formatters.ts
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/src/components/ui/Button.tsx
  frontend/src/pages/AnalysisDetail.tsx
  frontend/src/pages/CreateAnalysis.tsx
  frontend/src/pages/CreatePortfolio.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/terminal.css
  frontend/src/utils/colors.ts
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/analysis/AnalysisCard.tsx
  frontend/src/components/analysis/CreateAnalysisForm.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/StatusBar.tsx
  frontend/src/components/portfolio/BulkImport.tsx
  frontend/src/components/portfolio/PortfolioCard.tsx
  frontend/src/components/portfolio/PositionForm.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Checkbox.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/index.css
  frontend/src/pages/AnalysisDetail.tsx
  frontend/src/pages/AnalysisList.tsx
  frontend/src/pages/AssetDetail.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/pages/CreatePortfolio.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PortfolioDetail.tsx
  frontend/src/pages/PortfolioList.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/terminal.css
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/dashboard/RecentActivity.tsx
  frontend/src/components/dashboard/SystemMetrics.tsx
  frontend/src/components/layout/CommandMenu.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/NotificationCenter.tsx
  frontend/src/components/layout/QuickCreate.tsx
  frontend/src/components/layout/ThemeToggle.tsx
  frontend/src/components/layout/UserMenu.tsx
  frontend/src/components/terminal/Terminal.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/hooks/useBreadcrumbs.ts
  frontend/src/pages/Dashboard.tsx
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/agents/AgentPipeline.tsx
  frontend/src/components/analysis/AnalysisStatusCard.tsx
  frontend/src/components/analysis/CreateAnalysisForm.tsx
  frontend/src/components/analysis/LogViewer.tsx
  frontend/src/components/analysis/MarkdownViewer.tsx
  frontend/src/components/analysis/PriceChart.tsx
  frontend/src/components/analysis/ReportCard.tsx
  frontend/src/components/analysis/ReportViewer.tsx
  frontend/src/components/layout/UserMenu.tsx
  frontend/src/components/trading/TradingDecisionCard.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/config/reportTypes.ts
  frontend/src/hooks/useRealTimeStatus.ts
  frontend/src/pages/AnalysisDetail.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/pages/ChatTradingInterface.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/pages/CreatePortfolio.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PortfolioDetail.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/styles/terminal.css
Due: eslint-frontend, test-frontend-build

refactor frontend
  frontend/src/components/analysis/PriceChart.tsx
  frontend/src/components/data-display/StatusBadge.tsx
  frontend/src/components/portfolio/PortfolioCard.tsx
  frontend/src/components/portfolio/PositionForm.tsx
  frontend/src/components/portfolio/PositionTable.tsx
  frontend/src/components/trading/TradingDecisionCard.tsx
  frontend/src/pages/AnalysisDetail.tsx
  frontend/src/pages/AssetDetail.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/BacktestList.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/pages/PortfolioList.tsx
  frontend/src/utils/assetDetection.ts
  frontend/src/utils/colorClasses.ts
  litadel/dataflows/alpha_vantage_crypto.py
Due: eslint-frontend, test-frontend-build

refactor frontend
  FINAL_REFACTORING_SUMMARY.md
  REFACTORING_COMPLETE.md
  REMAINING_REFACTORING.md
  litadel/dataflows/data_cache/intelligence/earnings_estimates_APPL.json
Due: none

refactor frontend
  cli/main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/analysis/AnalysisCard.tsx
  frontend/src/components/analysis/AnalystSelectionCard.tsx
  frontend/src/components/analysis/CreateAnalysisForm.tsx
  frontend/src/components/analysis/FormProgressIndicator.tsx
  frontend/src/components/analysis/LivePreviewSidebar.tsx
  frontend/src/components/analysis/PresetCard.tsx
  frontend/src/components/analysis/TickerPill.tsx
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/hooks/useAnalysisDefaults.ts
  frontend/src/pages/AnalysisList.tsx
  frontend/src/pages/CreateAnalysis.tsx
Due: eslint-frontend, test-frontend-build

refactor frontend
  api/backtest_executor.py
  api/database.py
  api/endpoints/backtests.py
  api/main.py
  api/models/backtest.py
  api/test_strategies.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/backtest/PythonCodeEditor.tsx
  frontend/src/components/backtest/StrategyCodeVisualizer.tsx
  frontend/src/components/trading/ChatMessage.tsx
  frontend/src/components/trading/ClarificationForm.tsx
  frontend/src/components/trading/ParameterApprovalCard.tsx
  frontend/src/components/trading/StrategyParametersForm.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/pages/ChatTradingInterface.tsx
  frontend/src/pages/CreateBacktest.tsx
  frontend/src/services/api.ts
  frontend/src/types/backtest.ts
  frontend/src/types/trading.ts
  litadel/agents/utils/parameter_extraction_agent.py
  litadel/agents/utils/strategy_code_generator_agent.py
  pyproject.toml
  test_backtest.py
  uv.lock
Due: eslint-frontend, test-frontend-build

refactor frontend
  ALL_FIXES_SUMMARY.md
  BACKTEST_ARCHITECTURE_ANALYSIS.md
  DEPLOYMENT_REQUIREMENTS.md
  FIXES_IMPLEMENTED.md
  IMPLEMENTATION_COMPLETE.md
  QUICK_START_AFTER_FIXES.md
Due: none

refactor frontend
  api/backtest_executor.py
  api/endpoints/data.py
  cli/asset_detection.py
  config.example.ini
  config.ini
  frontend/src/components/ui/sonner.tsx
  frontend/src/pages/AnalysisList.tsx
  frontend/src/pages/BacktestDetail.tsx
  frontend/src/services/api.ts
  litadel/backtest/data.py
  litadel/dataflows/alpha_vantage_crypto.py
  litadel/dataflows/interface.py
  litadel/dataflows/local.py
  litadel/dataflows/stockstats_utils.py
  litadel/dataflows/ticker_data.py
  litadel/dataflows/y_finance.py
  litadel/default_config.py
Due: eslint-frontend, test-frontend-build

add litadel cli
  cli/main.py
Due: none

updated readme and build
  README.md
  frontend/package.json
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
Due: test-frontend-build

updated readme and build
  .github/workflows/lint-and-test.yml
Due: none

updated readme and build
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/vite.config.ts
Due: eslint-frontend, test-frontend-build

fix: format Python files for CI
  cli/main.py
  litadel/agents/utils/parameter_extraction_agent.py
  litadel/agents/utils/strategy_dsl_agent.py
Due: none

updated image
  assets/litadel_cli.png
Due: none

updated image
  README.md
  assets/backtest_detail.png
  assets/backtest_output.png
  assets/backtest_strategy.png
  assets/backtest_ui.png
  assets/dasboard_rationale.png
  assets/dashboard.png
  assets/execution_logs.png
  cli/main.py
  config.example.ini
  litadel/graph/__init__.py
  litadel/graph/propagation.py
  litadel/graph/reflection.py
  litadel/graph/setup.py
  litadel/graph/signal_processing.py
  litadel/graph/trading_graph.py
  setup.py
Due: none

readme update
  README.md
  assets/aapl_analysis.png
  assets/analyses.png
  assets/anlaysis_report_example.png
  assets/btc_single_analysis.png
Due: none

readme update
  README.md
Due: none

fix: handle missing values in economic indicators data
  litadel/dataflows/alpha_vantage_economic.py
Due: none
